@model TaskEr.Models.JobCategory
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "JobCategories", FormMethod.Post))
{
    <fieldset>

        <div class="form-group">
            @Html.LabelFor(j => j.Name)
            @Html.TextBoxFor(j => j.Name,htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(j => j.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(j => j.Description)
            @Html.TextBoxFor(j => j.Description, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(j => j.Description)
        </div>
        <!-- Alternative for the above . Raw html :
            <div class="form-group">
                <label for="@Model.Name">Category name</label>
                <input class="form-control" id="@Model.Name">
            </div>
        -->
        
        <div class="form-group">
            <label for="exampleSelect1">Example select</label>
            <select class="form-control" id="exampleSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        @Html.HiddenFor(j => j.Id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
}


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}