@model IEnumerable<TaskEr.Models.Job>
@{
    ViewBag.Title = "Index";
    var index = 0;
    var hoursWorkedToday = Model.Where(j => j.AddedDateTime.ToShortDateString().Equals(DateTime.Now.ToShortDateString())).Sum(j => j.TimeSpent.HasValue == true ? j.TimeSpent.Value.TotalHours : 0.0d);

}

<h4><small class="text-muted">Today - @DateTime.Now.ToShortDateString() you have worked <b>@hoursWorkedToday</b> hours</small></h4>


<div>
    <ul class="pagination pagination-sm">
        <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">&raquo;</a>
        </li>
    </ul>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Time Started</th>
            <th scope="col">Time Ended</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col" class="table-light">Details</th>
            <th scope="col" class="table-light">Update</th>
            <th scope="col" class="table-dark">Delete</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(index++)</td>
                <td>@item.TimeStarted.ToString()</td>
                <td>@{  var timeEnded = item.TimeEnded.HasValue == true ? item.TimeEnded.Value.ToString() : "-";}@timeEnded</td>
                <td>@item.Description</td>
                <td>@item.JobCategory.Name</td>
                <td class="table-light"><a href="@Url.Action("Read", "Jobs", routeValues: new { id = item.Id })">Details</a></td>
                <td class="table-light"><a href="@Url.Action("Update", "Jobs", routeValues: new { id = item.Id })">Update</a></td>
                <td class="table-dark"><a href="@Url.Action("Delete", "Jobs", routeValues: new { id = item.Id })" onclick="return confirm('Are sure wants to delete?');">Delete</a></td>
            </tr>
                    }

    </tbody>
</table>
<a type="button" class="btn btn-primary btn-lg btn-block" href="@Url.Action("Create")">What have you done today ?</a>
<a type="button" class="btn btn-primary btn-lg btn-block" href="#">See statistics</a>


@using (Html.BeginForm("Index", "Jobs", FormMethod.Get))
{
    <div class="form-group">@Html.TextBox("date", null, new { @class = "form-control" })</div>

    <button type="submit" class="btn btn-primary">Search</button>
}

